[flake8]
max-line-length = 100
ignore = D400,D401,W503, ANN101, ANN102, ANN002, ANN003, S403, S404, S301
exclude = .git,__pycache__,doc/conf.py,old,build,dist,test_*
doctring-convention = google
per-file-ignores =
  __init__.py: F401
