.compatibility_tests/*/Cargo.lock
compatibility_test/target/*
compatibility_test_sim/target/*
documentation/book/*
documentation/src/python_api_docs/*
*/Cargo.lock
target/*
*/docs/_build*
*/docs/generated*
*__pycache__*
*.mypy_cache*
*.egg-info*
*.DS_Store
*.ipynb_checkpoints*
*.vscode*
*target*
*.so
