Cargo.lock
target/*
*__pycache__*
*.mypy_cache*
*.egg-info*
*.coverage
*coveragehtml/*
*/docs/_build*
*/docs/generated*
*.DS_Store
*.ipynb_checkpoints*
*.json
*.yaml
.vscode/*
roqoqo/src/operations/_auto_generated_operations.rs
qoqo/src/operations/_auto_generated_operation_conversion.rs
*.profraw
*.lcov
