[package]
name = "roqoqo-test"
version = "0.1.5"
authors = ["HQS Quantum Simulations <info@quantumsimulations.de>"]
license = "Apache-2.0"
edition = "2018"
categories = ["science", "simulation"]
readme = "../README.md"
repository = "https://github.com/HQSquantumsimulations/qoqo"
description = "Testing helper functions for roqoqo toolkit"
exclude = ["tests*", "examples*", "docs*", "*.code-workspace"]

[lib]
name = "roqoqo_test"
path = "src/lib.rs"
doctest = false
crate-type = ["rlib"]

[dependencies]
qoqo_calculator = {version="0.2"}
roqoqo = {version="0.3", path="../roqoqo", features=["serialize"]}
rand = "0.8"
nalgebra = "0.28"
ndarray = { version = "0.15" }
roqoqo-derive = {version="0.1", path="../roqoqo-derive"}

[build-dependencies]
quote = "1.0"
syn = { version = "1.0", features = ["full", "visit"] }
proc-macro2 = "1.0"