[package]
name = "qoqo"
version = "0.4.3"
authors = ["HQS Quantum Simulations <info@quantumsimulations.de>"]
license = "Apache-2.0"
readme = "../README.md"
edition = "2018"
categories = ["science", "simulation","ffi"]
description = "Quantum computing circuit toolkit. Python interface of roqoq"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "qoqo"
path = "src/lib.rs"
doctest = false
crate-type = ["cdylib", "rlib"]

[dependencies.pyo3]
version = "0.13"
features = ["num-complex"]

[dependencies]
serde = { version = "1.0", features = ["derive"] }
ndarray = "0.14"
num-complex = "0.3"
thiserror = "1.0"
qoqo_calculator = {version="0.2"}

qoqo_calculator_pyo3 = {version="0.3", default-features=false}

qoqo-macros = {version="0.1", path="../qoqo-macros"}
roqoqo = {version="0.1", path="../roqoqo", features=["serialize", "overrotate"]}
roqoqo-derive = {version="0.1", path="../roqoqo-derive"}
numpy = "=0.13.1"
bincode = "1.3"
serde_json = "1.0"

[dev-dependencies]
test-case = "1.1.0"
nalgebra = "0.26"

[build-dependencies]
quote = "1.0"
syn = { version = "1.0", features = ["full", "visit"] }
proc-macro2 = "1.0"

[package.metadata.docs.rs]
no-default-features = true

[features]
extension-module = ["pyo3/extension-module"]#, "qoqo_calculator_pyo3/extension-module"]
default = ["extension-module"]

[package.metadata.maturin]
requires-dist = ["numpy"]
maintainer = "HQS Quantum Simulations GmbH"
maintainer-email = "info@quantumsimulations.de"
requires-python = ">=3.6"