name: ci_tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  check_linting_and_tests:
    name: unittests_check
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install pytest flake8 flake8-bugbear flake8-docstrings flake8-annotations darglint mypy
      - name: Test with pytest
        run: |
          pip install pytest
          pip install -e ./
          pytest
      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 --config=./.flake8 ./qoqo --count
      # - name: Mypy check
      #   run: |
      #     # stop the build if there are Python syntax errors or undefined names
      #     mypy --config-file=./.mypy.ini ./qoqo  

