name: Test compatibility with previous version

on:
  workflow_dispatch:
  pull_request:
    branches: ["main"]

jobs:
  unittests_check_compatibility:
    name: unittests_check-compatibility
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v5
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          default: true
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: |
            ./.compatibility\_tests/*
      - uses: actions/setup-python@v6
        with:
          python-version: 3.11
        env:
          CARGO_INCREMENTAL: 0  
          CARGO_HOME: "~/cargo"
      - name: Run all compatibility tests
        run: |
          python -m pip install numpy
          for dir in ./.compatibility_tests/compatibility_test_*; do
            if [ -d "$dir" ]; then
              echo "Running tests in $dir"
              cd $dir
              CARGO_TARGET_DIR=../target cargo test --no-default-features
              cd - > /dev/null
            fi
          done
